@charset "UTF-8";

#login {

    width: 800px;
    height: 430px;
    
}
#login > #formulario {

    float: left;
    width: 65%;

}
#login > #imagem {

    float: right;
    width: 35%;
    height: 450px;

}
#login > div > footer {

    float: left;
    width: 65%;
}
h1 {
    padding-top: 8px;
    font-size: 2em;
}
#login .subtitulo {

    font-size: 1.1em;
    padding: 20px 0px;
}
#login .text-conta {

    font-size: 0.9em;
}
footer {
    
    bottom: 0px;
    position: fixed;
    font-size: 1em;
}