@charset "UTF-8";

#login {

    width: 50vw;
}
#login > #formulario {

    float: left;
    width: 65%;

}
#login > #imagem {

    float: right;
    width: 35%;
    height: 200px;

}
#login > div > footer {

    float: left;
    width: 65%;
}
h1 {

    font-size: 2em;
}
#login p {

    font-size: 1.2em;
}
footer {

    font-size: 1em;
}