@charset "UTF-8";

#login {

    width: 50vw;
}
#login > #formulario {

    float: left;
    width: 65%;

}
#login > #imagem {

    float: right;
    width: 35%;
    height: 500px;

}
#login > div > footer {

    float: left;
    width: 65%;
}
h1 {
    padding-top: 8px;
    font-size: 2em;
}
#login p {

    font-size: 1.1em;
    padding: 20px 0px;
}
footer {

    font-size: 1em;
}